<!--The content below is only a placeholder and can be replaced.-->
<header>
    <mat-toolbar color='primary' *ngIf="loggedUser">
      <mat-toolbar-row>
        <span>Hello {{ loggedUser.name }}</span>
        <span class="example-spacer"></span>
        <button mat-raised-button *ngIf='loggedUser' (click)="logout()">Logout</button>
      </mat-toolbar-row>

    </mat-toolbar>
    <nav mat-tab-nav-bar>
      <!-- <ul> -->
        <!-- <li> -->
          <a mat-tab-link routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/welcome']">Welcome</a>
        <!-- </li> -->
        <!-- <li> -->
          <a mat-tab-link routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/about']"
          [queryParams]="{ loh: 'not me' }">about</a>
          <a mat-tab-link routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/products']">products</a>
        <!-- </li> -->
        <!-- <li> -->
          <a mat-tab-link routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/asidfapo']">notFound</a>
        <!-- </li> -->
        <!-- <li> -->
          <a mat-tab-link *ngIf='!loggedUser' routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/login']"
          queryParamsHandling="preserve">Login</a>
        <!-- </li> -->
        <!-- <li> -->
        <!-- </li>
      </ul> -->
    </nav>
    <div>
    </div>
  </header>
  <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"></router-outlet>
  </main>